
@{
    ViewBag.Title = "Home";
}

<div class="container mt-5">

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <h2>
        Welcome @Session["UserName"]
    </h2>

    <hr />

    <div class="list-group">

        @if (ViewBag.CanAccessHardware == true)
        {
            <a href="@Url.Action(
                 "Index",
                 "Company")"
               class="list-group-item list-group-item-action">
                Hardware Min Alarm
            </a>
        }

        @if (ViewBag.CanAccessCountLocation == true)
        {
            <a href="@Url.Action(
                 "Index",
                 "CountLocation")"
               class="list-group-item list-group-item-action">

                Count Location Pick Face

            </a>
        }

        @if (ViewBag.IsAdmin == true)
        {
            <a href="@Url.Action(
                 "Index",
                 "UserManagement")"
               class="list-group-item list-group-item-action">

                User Management


            </a>
        }

    </div>

</div>
