<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HDMC Hardware Min Alarm</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hardware-shell">
    <nav class="navbar navbar-expand-sm navbar-dark hardware-navbar">
        <div class="container-fluid">
            @Html.ActionLink(
                "HDMC Hardware",
                "Index",
                "Home",
                new { area = "" },
                new { @class = "navbar-brand" })

            <button type="button"
                    class="navbar-toggler"
                    data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse"
                    title="Toggle navigation"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        @Html.ActionLink(
                            "Scan",
                            "Index",
                            "Home",
                            new { area = "" },
                            new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink(
                            "Upload",
                            "Index",
                            "Upload",
                            new { area = "" },
                            new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink(
                            "History",
                            "Index",
                            "UploadHistory",
                            new { area = "" },
                            new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="hardware-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
